*{
    background-color: deeppink;
    text-decoration: none;
    position:relative;
}


.social-icons a:hover {
    color: #0073b1; /* LinkedIn color */
}

.social-icons a.instagram:hover {
    color: #E1306C; /* Instagram color */
}

.social-icons a.facebook:hover {
    color: #1877F2; /* Facebook color */
}

.social-icons a.mail:hover {
    color: #D44638; /* Email color */
}

body > h1{
    font-weight: bold;
    color:white;
}

body > h3{
    font-weight: bold;
    color:white;
}
